
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field h5">
          <%= f.label :email %>: <%== @user.email %><br/>
        </div>
        <br/>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= t :password %>: <i>(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum", class: "p-1 border-1" %>
        </div>
        <br/>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: :password_confirmation, class: "p-1 border-1" %>
        </div>
        <br/>

        <div class="field">
          <i>(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "current-password" , placeholder: :current_password, class: "p-1 border-1" %>
        </div>
        <br/>
        <div class="field">
          <%= f.text_field :givenname, autocomplete: "givenname" , placeholder: :givenname, class: "p-1 border-1" %>
        </div>
        <br/>
        <div class="field">
          <%= f.text_field :surname, autocomplete: "surname" , placeholder: :surname, class: "p-1 border-1" %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
      <br/>
      <%= button_to :back, :back, method: :get %>
      <!--<h3>Cancel my account</h3>-->

      <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
