<p>
  <strong><%= t 'email' %>:</strong>
  <%== current_user.email %>
</p>

<p>
  <strong><%= t 'fullname' %>:</strong>
  <%== current_user.full_name %>
</p>
<p>
  <strong><%= t 'avatar' %></strong>
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize: "100x100") %>
    <%= image_tag current_user.avatar.variant(resize_to_limit: [50, 100]) %>
    <%= image_tag current_user.avatar%>
    <%= url_for(current_user.avatar) %>
  <% end %>
</p>

<p><%== link_to t('edit_profile'), edit_user_registration_path, method: :get %></p>