<h2>Moodle Log in</h2><br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "p-1 border-1" %>
  </div>
  <br/>
  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: :password, class: "p-1 border-1" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit data: {"disable-with": "Login..."} %>
  </div>
<% end %>
<%= render "devise/shared/links" %>

