<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "p-1 border-1" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit data: {"disable-with": "Sending..."} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
