<div class="table-responsive">
  <table id='policies' class="table table-sm table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Object</th>
      <th>View</th>
      <th>New</th>
      <th>Edit</th>
      <th>Destroy</th>
      <th>Edit</th>
    </tr>
    <% object.type_policies.each do |p| %>
      <% if p %>
        <tr>
          <td><%= p.policy.name %></td>
          <td><%= p.policy.object.name %></td>
          <td><%= p.policy.policy_item.view %></td>
          <td><%= p.policy.policy_item.new %></td>
          <td><%= p.policy.policy_item.edit %></td>
          <td><%= p.policy.policy_item.remove %></td>
          <td>
            <%= link_to admin_user_type_policy_path(object, p), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <%= fa_icon "trash" %>
            <% end %>

          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>