<h2>Edit <%= @user.full_name %></h2>

<%= form_for(@user, url: admin_user_path(@user), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :email %>: <%==@user.email %><br />
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :givenname %><br />
    <%= f.text_field :givenname, autocomplete: "givenname" %>
  </div>

  <div class="field">
    <%= f.label :surname %> <br />
    <%= f.text_field :surname, autocomplete: "surname" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>