<h2>Edit <%= @user.full_name %></h2>

<%= form_for(@user, url: admin_user_path(@user), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :email %>: <%==@user.email %><br />
  </div>
  <br/>
  <div class="field">
    <%= f.label :password %>: <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" , placeholder: "#{@minimum_password_length} characters minimum", class: "p-1 border-1" %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :givenname, autocomplete: "givenname", placeholder: :givenname, class: "p-1 border-1"  %>
  </div>
  <br />
  <div class="field">
    <%= f.text_field :surname, autocomplete: "surname", placeholder: :surname, class: "p-1 border-1"  %>
  </div>
  <br>
  <div class="field">
    <%== f.collection_select :role_id, Role.all, :id, :name, prompt: "Pick A Role" %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br/>
<%= button_to :back, :back, method: :get %>