<!DOCTYPE html>
<html>
<head>
  <title>MoodleRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="d-flex container" id="wrapper">
  <% if user_signed_in? %>
    <div class="bg-light border-right" id="sidebar-wrapper">
      <%= render 'layouts/left_menu' %>
    </div>
  <% end %>
  <div id="page-content-wrapper">
    <% if user_signed_in? %>
      <div id="nav" class="container-fluid">
        <%= render 'layouts/nav' %>
      </div>
    <% end %>
    <div id="page-content" class="container">
        <%= render 'layouts/header' %>
      <div class="bg-light mt-3 p-4">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="bottom"><%= render 'layouts/footer' %></div>
</div>
</body>
</html>
